<%- include('partials/header') %>
    <!-- Main -->
    <main class="container my-5">
        <!-- Ajouter ici le contenu du catalogue -->
        <section class="catalog-banner text-center text-white d-flex align-items-center justify-content-center">
            <div class="overlay-content">
                <h2 class="display-4">Notre catalogue</h2>
                <p class="lead">Découvrez notre sélection de cafés venus d’ailleurs</p>
            </div>
        </section>
        <div class="d-flex align-items-center justify-content-center">
            <a href="/catalog" class="btn btn-coffee m-3">Catégorie</a>
        </div>
        <!-- Grille (desktop uniquement) -->
        <section class="coffee-grid">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% coffees.forEach(coffee => { %>
                    <div class="col">
                        <div class="desktop-coffee-card">
                            <img src="/images/assets/coffees/<%= coffee.image %>" alt="<%= coffee.name %>">
                            <div class="desktop-coffee-overlay">
                                <h5>
                                    <%= coffee.name %>
                                </h5>
                                <p class="small">
                                    <%= coffee.description %>
                                </p>
                                <a href="/catalog/<%= coffee.slug || coffee.id %>"
                                    class="btn btn-coffee mt-2">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>

            <div class="text-center mt-4">
                <% if (!showAll) { %>
                    <a href="/catalog?all=true" class="btn btn-coffee">Voir plus</a>
                    <% } else { %>
                        <a href="/catalog" class="btn btn-coffee">Voir moins</a>
                        <% } %>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>