<%- include('partials/header') %>

  <main class="container my-5 flex-grow-1">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <img src="/images/assets/coffees/<%= coffee.image %>" alt="<%= coffee.name %>"
          class="img-fluid rounded shadow w-100" style="max-height: 400px; object-fit: cover;">
      </div>

      <div class="col-12 col-md-8 offset-md-2">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1 class="mb-3">
            <%= coffee.name %>
          </h1>
          <p class="text-muted">Publié le <%= coffee.created_at.toLocaleDateString() %>
          </p>
        </div>
        <div class="product-info-card mt-4">
          <h5>Informations clés</h5>
          <ul class="list-unstyled mb-0">
            <li><strong>Origine :</strong>
              <%= coffee.origin_country %>
            </li>
            <li><strong>Prix :</strong>
              <%= coffee.price %> €
            </li>
            <li><strong>Disponible :</strong>
              <%= coffee.availability ? 'Oui' : 'Non' %>
            </li>
            <li><strong>Référence :</strong>
              <%= coffee.reference %>
            </li>
            <li><strong>Caractéristiques :</strong>
              <ul class="ms-3">
                <% coffee.characteristics.forEach(function(char) { %>
                  <li>
                    <%= char %>
                  </li>
                  <% }) %>
              </ul>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-12 mt-4 text-center">
        <a href="/catalog" class="btn btn-coffee mt-3">Retour au catalogue</a>
      </div>
    </div>
    </div>
  </main>

  <%- include('partials/footer') %>